@page
@model WadApplication.Pages.ArtifactCMS.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create Artifact</h1>

<div class="formBoundry">
    <form method="post">
        <label asp-for="Artifact.Name" class="control-label"></label>
        <div class="form-group">
            <input asp-for="Artifact.Name" class="form-control" />
        </div>
        <label asp-for="Artifact.Type" class="control-label"></label>
        <div class="form-group">
            <select asp-for="Artifact.Type">
                <option value="Flower of Life">Flower of Life</option>
                <option value="Plume of Death">Plume of Death</option>
                <option value="Sands of Eon">Sands of Eon</option>
                <option value="Goblet of Eonothem">Goblet of Eonothem</option>
                <option value="Circlet of Logos">Circlet of Logos</option>
            </select>
        </div>
        <label asp-for="Artifact.SetName" class="control-label"></label>
        <div class="form-group">
            <select asp-for="Artifact.Type">
                @foreach (var item in Model.ArtifactSet)
                {
                    <option value="@item.SetName">@item.SetName</option>
                }
            </select>
        </div>
        <label asp-for="Artifact.Description" class="control-label"></label>
        <div class="form-group">
            <textarea asp-for="Artifact.Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="submit" value="Create" />
        </div>
    </form>
</div>

<div>
    <a class="aBtns" asp-page="ArtifactsCMS">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
