@page "{handler?}"

@model WadApplication.Pages.AllCharactersModel
@{
    ViewData["Title"] = "All Characters";
}

<h1>All Playable Characters</h1>

<form asp-page="./AllCharacters" method="get">
    <input type="text" name="searchStringName" value="@Model.CurrentNameFilter" placeholder="Enter Character name" id="load" />
</form>

<section class="wrap" id="loadStuff">
</section>

<a class="aBtns" asp-page="./AllCharacters">Back to full List</a>

@section scripts{
    <script>
        $(function () {         
            $(document).ready(function () {
                $('#loadStuff').load("AllCharacters/LoadCharacters")
                })            

            $('#load').on('input', function () {
                var ssN = ($(this).val().toString());
                $('#loadStuff').load("AllCharacters/LoadCharacters" + "?searchStringName=" + ssN)                
            });
        });
    </script>
}