@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="formBoundry">
    <form id="account" method="post" class="accountForm">
        <h2>Enter Email & Password to log in.</h2>
        <br />
            <label asp-for="Input.Email"></label>
        <div class="form-group">
            <input asp-for="Input.Email" class="form-control" placeholder="Enter Email" />
        </div>
            <label asp-for="Input.Password"></label>
        <div class="form-group">
            <input asp-for="Input.Password" class="form-control" placeholder="Enter Password" />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <button type="submit">Log in</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
