@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="formBoundry">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h2>Create a new account.</h2>
        <label asp-for="Input.Email"></label>
        <div class="form-group">
            <input asp-for="Input.Email" class="form-control" placeholder="Enter Email" />
        </div>
        <label asp-for="Input.Password"></label>
        <div class="form-group">
            <input asp-for="Input.Password" class="form-control" placeholder="Enter Password" />
        </div>
        <label asp-for="Input.ConfirmPassword"></label>
        <div class="form-group">
            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <button type="submit">Register</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
