@page
@model WadApplication.Pages.AllWeaponsModel
@{
}
<h1>All Avaliable Weapons</h1>

<form asp-page="./AllWeapons" method="get">
    <div class="">
        <p>
            <input type="submit" name="searchStringType" value="Bow" />
            <input type="submit" name="searchStringType" value="Catalyst" />
            <input type="submit" name="searchStringType" value="Claymore" />
            <input type="submit" name="searchStringType" value="Sword" />
        </p>
    </div>
</form>
<form asp-page="./AllWeapons" method="get">
    <div class="">
        <p>
            <input type="submit" name="searchStringRarity" value="⭐⭐" />
            <input type="submit" name="searchStringRarity" value="⭐⭐⭐" />
            <input type="submit" name="searchStringRarity" value="⭐⭐⭐⭐" />
            <input type="submit" name="searchStringRarity" value="⭐⭐⭐⭐⭐" />
        </p>
    </div>
</form>
<section class="wrap">
    @foreach (var item in Model.Weapons)
    {
        <div class="filmThumb">
            <div>
                <a asp-page="WeaponDetailPage" asp-route-id="@item.WeaponID">
                    <img src=@(string.Format(@"\images\WeaponImages\{0}.webp", item.Name.Replace(" ", "%20"))) alt="@item.Name">
                </a>
            </div>
            <h3>
                @item.Name
            </h3>
        </div>
    }
</section>

<a class="aBtns" asp-page="./AllWeapons">Back to full List</a>