:root {
    --navbarColourLight: rgba(159, 168, 218, 0.4);
    --ColourDark: rgba(32,64,94, 0.7);
    --ColourDarkBack: rgba(32,64,94, 0.4);
    --primaryFont: 'Roboto', sans-serif;
    --primaryFontSize: 18px;
    --backgroundImage: url("../images/BackgroundImages/Background1.jpg");
    --navTextColour: rgba(255,255,255,0.7);
    --aColour: #0366d6;
    --formTextColour:#000;
}

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    outline:none;
}

body {
    font-family:var(--primaryFont);
    text-align:center;
}

p{
    color:var(--navTextColour);
}

h1 {
    padding: 30px;
    text-transform: capitalize;
    background-color: var(--ColourDark);
    color: white;
    box-shadow:  3px 3px rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
}

h2{
    padding:20px;
}

.navbar {
    font-size: var(--primaryFontSize);
    background-color: var(--navbarColourLight);
    padding-bottom: 10px;
}

.footer {
    font-size: var(--primaryFontSize);
    background-color: var(--navbarColourLight);
    text-align:center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-nav, .account-nav{
    list-style-type:none;
    display:none;
}

.active{
    display:block;
}

.main-nav li{
    text-align:center;
    margin-left:15px auto;
}

.logo{
    display:inline-block;
    margin-top:10px;
    margin-left:20px;
}

.logo > img{
    width:150px;
    height:auto;
}

.nav-links,
.logo{
    text-decoration:none;
    color:var(--navTextColour);
}

.navbar-toggle{
    position:absolute;
    top:10px;
    right:20px;
    cursor:pointer;
    color:rgba(255,255,255,0.8);
    font-size:24px;
}


.backgroundImg {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: var(--backgroundImage);
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
}

.text-center{
    width:100%;
    height:50vh;
    display:grid;
    justify-content:center;
    text-align:center;
    align-content:center;
}

.centeredGrid {
    font-size:46px;
    padding:12px;
    display:inline-block;
}

.text-danger {
    color: darkred;
    text-decoration: none;
    font-weight: bold;
}

.text-danger > ul{
    list-style-type: none;
}

.content {
    position: relative;
    min-height: 100vh;
    overflow: auto;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 0px;
    margin-right: 0px;
}

.container{
    padding-bottom: 30px;
}

a {
  color: var(--aColour);
}
section {
    flex: 0 0 75%;
    display: flex;
    justify-content:space-evenly;
}
#characterName {
    background-color: var(--ColourDark);
    padding:5px;
    margin:5px;
    max-width: 400px;
    box-shadow:  3px 3px rgba(0, 0, 0, 0.6);
}

#characterImage {
    background-color: var(--ColourDark);
    padding:5px;
    margin:5px;
    max-width: 400px;
    box-shadow:  3px 3px rgba(0, 0, 0, 0.6);
}

#charDetails {
margin-top: 120px;
}

.characterDetail-Style {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    height: auto;
    grid-template-rows: max-content;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: var(--ColourDark);
    width: 900px;
    margin-left: 25%;
    box-shadow: 3px 3px rgb(0 0 0 / 60%);
}

.itemDetail {
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
    height: auto;
    grid-template-rows: max-content;
    padding-top:2%;
}

.grid-item{
    background-color: var(--ColourDark);
    padding:5px;
    margin:5px;
    max-width: 400px;
    box-shadow:  3px 3px rgba(0, 0, 0, 0.6);
}

.description-grid {
    display: grid;
    grid-template-columns: initial;
    grid-template-rows: max-content;
    background-color: var(--ColourDark);
    color: white;
}

.characterDetail > img {
    width: 100%;
    height: auto;
}

.wrap {
    flex-wrap: wrap;
}

.profileFlex{
    display: flex;
    text-decoration: none;
    margin-left: 42vw;
}
#profileAbtn{
    margin-left:5px;
    margin-right:5px;
}

section > div.filmThumb {
    padding: 15px;
    width:200px;
    display: grid;
    grid-template-columns: initial;
    grid-template-rows: max-content;
    text-align: center;
    margin: 5px;
    background-color: var(--ColourDark);
    box-shadow:  2px 2px rgba(0, 0, 0, 0.6);
}

section > div > h3 {
    font-weight: 100;
    margin: 0 0 15px 0;
    color: #000;
    text-decoration: none;
    color:var(--navTextColour);
}

div.filmThumb > div {
    overflow: hidden;
}

div.filmThumb > div > a > img {
    width: 100%;
    transform: scale(0.9,0.9);
    transition: all 0.5s;
}

div.filmThumb > div > a > img:hover {
    transform: scale(1,1);
}

#welcomePage{
    text-align:center;
    font-size:46px;
}

.cms-details > a{
    text-decoration: none;
    color: var(--navTextColour);
}

.cms-details > a:hover{
    color: white;
}

input[type=text] {
    border: none;
    padding: 10px 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: var(--ColourDark);
    color: var(--navTextColour);
    display: inline-block;
    font-size: 16px;
    height:40px;
    margin:12px;
}

input[type=text]::placeholder{
color:var(--navTextColour);
}

button,
select,
.aBtns,
textarea,
input
{
    background-color: var(--ColourDark);
    margin-bottom: 5px;
    margin-top: 5px;
    border:none;
    color:var(--navTextColour);
    padding:10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow:  3px 3px rgba(0, 0, 0, 0.6);
    height:40px;
}

textarea{
    height:80px;
    overflow: hidden;
    resize: vertical;
}

.aBtns,
input[type=submit],
button
{
    cursor:pointer;
}

button:hover,
.aBtns:hover,
input[type=submit]:hover
{
    background-color: darkgray;
}

.searchGrid{
    display:inline-grid;
}

.formFlex{
    justify-content: space-evenly;
}

.form-group > input[type=email],
.form-group > input[type=text],
.form-group > input[type=tel],
.form-group > input[type=number],
.form-group > input[type=password],
.form-group > button[type=submit],
.form-group > select,
.form-group > textarea
{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-shadow:  3px 3px rgba(0, 0, 0, 0.6);
}

.formBoundry {
    width: 50%;
    margin-left: 25%;
    margin-top:20px;
    margin-bottom: 20px;
    background-color: var(--ColourDarkBack);
    height: auto;
    color:white;
    padding:10px;
    box-shadow:  5px 5px rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 768px) {
    /*for desktop*/
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: grid;
        margin-right: 30px;
        grid-template-columns: repeat(4, 200px 1fr);
    }

    .account-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: left;
    }

    .description-grid {

        padding: 30px;
    }

    .main-nav li{
        margin:0;
    }

    .nav-links{
        margin-left:40px;
    }

    .logo{
        margin-top:0;
    }

    .navbar-toggle{
        display:none;
    }

    .logo:hover,
    .nav-links:hover{
        color:rgba(255,255,255,1);
    }

    .characterDetail > img {
        width: 100%;
        max-width: 450px;
        height: auto;
    }
}