<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="GenshinDB is a database website for the PC/Mobile game Genshin Impact.">
    <title>@ViewData["Title"] - WadApplication</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e80b045ada.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="backgroundImg"></div>
    <div class="content">
        <header>
            <nav class="navbar">
                <span class="navbar-toggle" id="js-navbar-toggle">
                    <i class="fas fa-bars"></i>
                </span>
                <a asp-area="" asp-page="/Index" class="logo"><img src="~/images/LogoImages/genshin_impact_logo_outline.png" alt="Logo"></a>
                <ul class="main-nav" id="js-menu">
                    <li>
                        <a class="nav-links" asp-area="" asp-page="/CharacterPages/AllCharacters">Characters</a>
                    </li>
                    <li>
                        <a class="nav-links" asp-area="" asp-page="/WeaponPages/AllWeapons">Weapons</a>
                    </li>
                    <li>
                        <a class="nav-links" asp-area="" asp-page="/ArtifactPages/AllArtifacts">Artifacts</a>
                    </li>
                    <li>
                        <a class="nav-links" asp-area="" asp-page="/ArtifactCMS/ArtifactsCMS">Artifacts Manager</a>
                    </li>
                    <li>
                        <a class="nav-links" asp-area="" asp-page="/WeaponCMS/WeaponsCMS">Weapon Manager</a>
                    </li>
                    <li>
                        <a class="nav-links" asp-area="" asp-page="/CharacterCMS/CharactersCMS">Character Manager</a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="footer">
            <div>
                &copy; 2021 - Nicky Faulding
            </div>
        </footer>
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
        <script src="~/js/site.js"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>