@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="profileFlex">
    <a class="aBtns" id="profile" asp-page="./Index">Profile</a>
    <div id="profileAbtn">
        <a class="aBtns" id="email" asp-page="./Email">Email</a>
    </div>
    <a class="aBtns" id="change-password" asp-page="./ChangePassword">Password</a>
    @if (hasExternalLogins)
    {
        <a id="external-login" class="aBtns" asp-page="./ExternalLogins">External logins</a>
    }
</div>