@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="formBoundry">
    <form id="email-form" method="post">
        <label asp-for="Email"></label>
        <div class="form-group">
            <input asp-for="Email" class="form-control" disabled />
        </div>
        <label asp-for="Input.NewEmail"></label>
        <div class="form-group">
            <input asp-for="Input.NewEmail" class="form-control" />
            <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary">Change email</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
