@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />


<div class="formBoundry">
    <form id="profile-form" method="post">
        <label asp-for="Username">Email</label>
        <div class="form-group">
            <input asp-for="Username" class="form-control" disabled />
        </div>
        <label asp-for="Input.PhoneNumber"></label>
        <div class="form-group">
            <input asp-for="Input.PhoneNumber" class="form-control" />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        <button type="submit">Save</button>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
